body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(24, 24, 66);
  z-index: 999;
  position: fixed;
}
nav .nav-left {
  display: flex;
  flex: 0.5;
}
nav .nav-center {
  flex: 1;
  width: 100%;
  display: flex;
}
nav .nav-center div {
  display: flex;
  align-items: center;
  width: 100%;
}
nav .nav-center div input {
  width: 70%;
  margin: 0;
  padding: 13px;
}
nav .nav-center div i {
  border-radius: 0px 10px 10px 0px;
  background-color: orange;
  padding: 10px;
}
nav .nav-center #cetagories {
  margin: 0;
  padding: 10px;
  border-radius: 10px 0px 0px 10px;
}
nav .nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0.5;
  color: white;
}
nav .nav-right .shipping .currency-show {
  display: flex;
  align-items: center;
}
nav .nav-right .shipping .currency-show p,
nav .nav-right .shipping .currency-show img {
  padding: 0px 15px 0px 15px;
}
nav .nav-right .shipping .shipping-option {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  width: 200px;
  height: 9rem;
  color: black;
  position: absolute;
}
nav .nav-right .shipping .shipping-option div {
  display: flex;
  flex-direction: column;
}
nav .nav-right .shipping .shipping-option div select, nav .nav-right .shipping .shipping-option div button {
  margin: 5px 0px 5px 0px;
  padding: 5px;
}
nav .nav-right .shipping .shipping-option div button {
  background-color: orange;
  border: none;
}
nav .nav-right .cart i {
  padding: 13px;
}
nav .nav-right .cart p {
  position: absolute;
  top: -3px;
  right: 118px;
  padding: 5px;
  font-size: 0.6vw;
  background-color: orange;
  border-radius: 50%;
}
nav .nav-right .account .user {
  display: flex;
  align-items: center;
  padding: 0px 15px 0px 15px;
}
nav .nav-right .account .user-account-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  width: 200px;
  position: absolute;
  right: 0.1px;
  height: 100px;
}
nav .nav-right .account .user-account-main button {
  padding: 10px;
}
nav .nav-right .account .user-account-main div {
  display: flex;
  justify-content: space-evenly;
}
nav .nav-right .account .user-account-main div button {
  width: 100%;
}
nav .nav-right .account .user-account-main {
  display: none;
}
nav .nav-right .currency-show:hover,
nav .nav-right .cart:hover {
  color: orange;
}
nav .nav-right .cart:hover div p {
  background-color: white;
  color: orange;
}
nav .nav-right .account:hover {
  color: orange;
}
nav .nav-right .account:hover .user-account-main {
  display: flex;
}

header img {
  width: 100%;
}

.popular-brand {
  border-radius: 10px;
  background-color: lightgray;
  margin: 10px;
  padding: 10px;
}
.popular-brand .brand {
  display: flex;
}
.popular-brand .brand #sub-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popular-brand .brand #sub-brand img {
  width: 75%;
  border-radius: 50%;
}

.container {
  display: flex;
  flex-direction: column;
}
.container .card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  min-height: 10rem;
}
.container .card #sub-card {
  border-radius: 10px;
  margin: 10px;
  background-color: rgb(197, 208, 212);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  width: 90%;
  transition: transform 0.3s;
}
.container .card #sub-card span,
.container .card #sub-card i {
  color: rgb(235, 112, 4);
}
.container .card #sub-card p,
.container .card #sub-card i {
  margin: 5px;
}
.container .card #sub-card img {
  width: 100%;
  height: 220px;
  border-radius: 10px 10px 0px 0px;
}
.container .card #sub-card .star {
  display: flex;
  padding: 0;
}
.container .card #sub-card .sub-card-button {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
.container .card #sub-card .sub-card-button button {
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.container .card #sub-card .sub-card-button button:hover {
  background-color: orange;
}
.container .card #sub-card:hover {
  transform: scale(1.06);
}
.container #sub-card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}/*# sourceMappingURL=main.css.map */