body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}

/// menu bar .......................
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(24, 24, 66);
    z-index: 999;
    position: fixed;

    .nav-left {
        display: flex;
        flex: 0.5;
    }

    .nav-center {
        flex: 1;
        width: 100%;
        display: flex;

        div {
            display: flex;
            align-items: center;
            width: 100%;

            input {
                width: 70%;
                margin: 0;
                padding: 13px;
            }

            i {
                border-radius: 0px 10px 10px 0px;
                background-color: orange;
                padding: 10px;
            }
        }

        #categories {
            margin: 0;
            padding: 10px;
            border-radius: 10px 0px 0px 10px;
        }
    }

    .nav-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 0.5;
        color: white;

        .shipping {
            .currency-show {
                display: flex;
                align-items: center;

                p,
                img {
                    padding: 0px 15px 0px 15px;
                }
            }

            .shipping-option {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: white;
                border-radius: 0px 0px 10px 10px;
                box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
                padding: 10px;
                width: 200px;
                height: 11rem;
                color: black;
                position: absolute;

                div {
                    display: flex;
                    flex-direction: column;

                    select {
                        margin: 5px 0px 5px 0px;
                        padding: 10px 20px 10px 20px;
                        border-radius: 10px;
                        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
                    }

                    button {
                        margin-top: 5px;
                        background-color: orange;
                        padding: 10px 20px 10px 20px;
                        border-radius: 10px;
                        border: 1px solid black;
                        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
                    }
                }
            }
        }

        .cart {

            i {
                padding: 13px;

            }

            p {
                position: absolute;
                top: -3px;
                right: 118px;
                padding: 5px;
                font-size: 0.6vw;
                background-color: orange;
                border-radius: 50%;
            }
        }

        .account {
            .user {
                display: flex;
                align-items: center;
                padding: 0px 15px 0px 15px;
            }

            .user-account-main {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                background-color: white;
                border-radius: 0px 0px 10px 10px;
                padding: 10px;
                width: 200px;
                position: absolute;
                right: 0.1px;
                height: 120px;

                button {
                    width: 100%;
                    padding: 10px 20px 10px 20px;
                    border: none;
                    border-radius: 10px;
                    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

                }

                button:hover {
                    background-color: orange;
                    color: white;
                }
            }

            .user-account-main {
                display: none;
                box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

            }
        }

        .currency-show:hover,
        .cart:hover {
            color: orange;
        }

        .cart:hover div p {
            background-color: white;
            color: orange;
        }

        .account:hover {
            color: orange;

            .user-account-main {
                display: flex;
            }
        }
    }
}

header {
    img {
        width: 100%;
    }
}

.popular-brand {
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

    .brand {
        display: flex;

        #sub-brand {

            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 75%;
                border-radius: 50%;
                box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
                transition: transform .3s;
            }

            img:hover {
                transform: scale(1.06);
            }
        }
    }


}

.container,
.container-seller {
    display: flex;
    flex-direction: column;
    align-items: center;

    // height: 50vh;
    .card {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        min-height: 10rem;

        #sub-card {
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            margin: 10px;
            box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
            width: 90%;
            transition: transform .3s;

            span,
            i {
                color: rgb(235, 112, 4);
            }

            p,
            i {
                margin: 5px;
            }

            img {
                width: 100%;
                height: 220px;
                border-radius: 10px 10px 0px 0px;
            }

            .star {
                display: flex;
                padding: 0;
            }

            .sub-card-button {
                margin: 10px;
                display: flex;
                justify-content: space-between;

                button {
                    padding: 10px 20px 10px 20px;
                    border: none;
                    border-radius: 10px;
                    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
                }

                button:hover {
                    background-color: orange;
                }
            }
        }

        #sub-card:hover {
            transform: scale(1.06);
        }
    }

    #sub-card:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    div {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%;

        h1 {
            margin-left: 40%;
        }

        .add-product {
            margin-left: 30%;
            width: 150px;
            padding: 15px;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            border-radius: 10px;
            background-color: orange;
            border: none;
        }
    }

}

//Seller pages----------------------------------

// Form input product-----------------------------
#add-product-dialog {
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.877);
    z-index: 99;

    dialog {
        position: fixed;
        top: 10vh;
        left: 20%;
        width: 60%;
        z-index: 100;
        border-radius: 10px;
        border: none;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
        overflow: hidden;
        align-items: center;
        margin: 0;
        padding: 0;
        color: rgba(0, 0, 0, 0.63);
        button:hover{
            background-color: orange;
        }
        header {
            background-color: darkblue;
            padding-top: 20px;
            height: 50px;
            text-align: center;
            font-size: larger;
            color: white;
        }

        section {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 20px;

            input {
                padding: 10px;
            }

            select {
                padding: 10px;
                width: 200px;
            }
        }

        menu {
            padding: 1rem;
            display: flex;
            justify-content: flex-end;
            margin: 0;

            button {
                padding: 10px;
                width: 100px;
                margin: 5px;
                border-radius: 10px;
                box-shadow: rgba(212, 43, 43, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
                border: none;
                background-color: #41BBFF;
            }
        }

    }
}



// Table-------------------------------------------------------------
table {
    border: 1px solid black;
    width: 90%;
    border-collapse: collapse;
    text-align: center;

    thead {
        background-color: darkblue;
        color: white;
        font-size: larger;

        td {
            padding: 10px;
            border: 1px solid black;
        }
    }

    tr {
        td {
            border: 1px solid black;
        }

        td:nth-child(2) {
            img {
                width: 150px;
            }
        }

        td:last-child {
            div {
                margin-bottom: 10%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                button {
                    width: 80%;
                    padding: 10px;
                    margin-top: 10px;
                    border: none;
                    border-radius: 10px;
                    box-shadow: rgba(212, 43, 43, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
                }

                .delete {
                    background-color: #FF4141;
                    color: white;
                }

                .edit {
                    background-color: #41BBFF;
                    color: white;
                }
            }

        }
    }
}