body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}

/// menu bar .......................
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(24, 24, 66);

    .nav-left {
        display: flex;
        flex: 0.5;
    }

    .nav-center {
        flex: 1;
        width: 100%;
        display: flex;

        div {
            display: flex;
            align-items: center;
            width: 100%;

            input {
                width: 70%;
                margin: 0;
                padding: 13px;
            }

            i {
                border-radius: 0px 10px 10px 0px;
                background-color: orange;
                padding: 10px;
            }
        }

        #cetagories {
            margin: 0;
            padding: 10px;
            border-radius: 10px 0px 0px 10px;
        }
    }

    .nav-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 0.5;
        color: white;

        .shipping {
            div {
                display: flex;
                align-items: center;

                p,
                img {
                    padding: 0px 15px 0px 15px;
                }
            }

        }

        .cart {
            i {
                padding: 13px;
            }
        }

        .account {
            div {
                display: flex;
                align-items: center;
                padding: 0px 15px 0px 15px;
            }
        }

        .account :hover,
        .shipping :hover,
        .cart :hover {
            background-color: orange;
        }
    }
}

header {
    img {
        width: 100%;
    }
}

.popular-brand {
    border-radius: 10px;
    background-color: lightgray;
    margin: 10px;
    padding: 10px;

    .brand {
        display: flex;
        #sub-brand {
            img {
                width: 75%;
                border-radius: 50%;
            }

            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }


}

.container {
    display: flex;
    flex-direction: column;
    // height: 50vh;
    .card {
        display: flex;
        min-height: 10rem;
        #sub-card {
            border-radius: 10px;
            margin: 10px;
            background-color: rgb(197, 208, 212);
            width: 18%;
            span,i{
                color: rgb(235, 112, 4);
            }
            p,i{
                margin: 10px;
            }
            img {
                width: 100%;
                border-radius: 10px 10px 0px 0px;
            }
            .star{
                display: flex;
                padding: 0;
            
            }
            .sub-card-button{
                margin: 10px;
                display: flex;
                justify-content: space-between;
                button{
                    padding: 10px 20px 10px 20px ;
                    border: none;
                    border-radius: 10px;
                    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
                }
                button:hover{
                    background-color: orange;
                }
            }
        }
    }
    #sub-card:hover{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
}